<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Creativity Boost </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> -->
  </head>
  <body>
    <div id="left">
      <div id="header">
        <p>Creativity </p>
      </div>
      <div id="header_img">
        <img src="https://cdn.pixabay.com/photo/2016/12/05/14/55/multicolor-1884024_1280.jpg">
        <p><span>BOOST CREATIVITY TODAY!<br></p></span>
      </div>
      <div  id="main">
        <h1>STORY GENERATOR</h1>
        <div class="prompt_wrapper">
          <div class="prompt_reveal">
            <div class="prompt_container">
              <center><p>Hover for Prompt!</p></center>
            </div>
          </div>
        </div>  
        <br><br><br>
        <h1>ART GENERATOR</h1>
        <div class="prompt_wrapper">
          <div class="prompt_reveal">
            <div class="prompt_container">
              <center><p>Hover for Prompt!</p></center>
            </div>
          </div>
        </div>
        <br><br><br>
        <h1>CHARACTER GENERATOR</h1>
        <div class="prompt_wrapper">
          <div class="prompt_reveal">
            <div class="prompt_container">
              <center><p>Hover for Prompt!</p></center>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div id="right">
      <h1>SETTINGS</h1>
      <h3>Art Prompt</h3>
      <p>what art level are you?</p>
      <p>what catagory would you like to draw in?</p>
      <p>traditional or digital art?</p>
      <br>
      <h3>Story Prompt</h3>
      <p>what story level are you?</p>
      <p>how long would you like the prompt to be?</p>
      <p>what genre(s) would you like to write?</p>
      <br>
      <h3>Character Prompt</h3>
    </div>
  </body>
</html>